<mat-card class="cardWithShadow theme-card">
  <mat-card-header>
    <mat-card-title class="m-b-0">Modificar consulta</mat-card-title>
  </mat-card-header>
  <mat-card-content class="b-t-1">
    <ng-container *ngIf="!isLoading; else loading">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-lg-6">
            <!-- ID del Operario -->
            <mat-label class="f-w-600 m-b-8 d-block">ID de Consulta</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="idConsultas" readonly />
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- Usuario -->
            <mat-label class="f-w-600 m-b-8 d-block">Usuario</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="username" readonly/>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- Correo -->
            <mat-label class="f-w-600 m-b-8 d-block">Correo</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="correo" readonly/>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- Motivo -->
            <mat-label class="f-w-600 m-b-8 d-block">Motivo</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="motivo" readonly/>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- Descripción -->
            <mat-label class="f-w-600 m-b-8 d-block">Descripción</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <input matInput formControlName="descripcion" readonly/>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- Fecha -->
            <mat-label class="f-w-600 m-b-8 d-block">Fecha</mat-label>
            <mat-form-field appearance="outline" class="w-100" color="primary">
              <input matInput formControlName="fecha" readonly/>
            </mat-form-field>
          </div>
          <div class="col-lg-6">
            <!-- Estado -->
            <mat-label class="f-w-600 m-b-8 d-block">Estado</mat-label>
            <mat-form-field appearance="outline" class="w-100">
              <mat-select formControlName="estado">
                <mat-option [value]="true">Resuelta</mat-option>
                <mat-option [value]="false">Pendiente</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
        <div class="m-t-12">
          <button mat-flat-button color="primary" type="button" class="m-r-8" (click)="onCancel()">Cancelar</button>
          <button mat-stroked-button color="warn" type="submit">Guardar</button>
        </div>
      </form>
    </ng-container>
    <ng-template #loading>
      <ngx-skeleton-loader count="7" [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader>
    </ng-template>
  </mat-card-content>
</mat-card>
