<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Listado de Operarios</mat-card-title>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100" *ngIf="!isLoading; else loading">
        <!-- User ID Column -->
        <ng-container matColumnDef="userId">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> ID </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.users_id.id }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Username </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.users_id?.username }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Enabled Column -->
        <ng-container matColumnDef="enabled">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Enabled </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span [ngClass]="{
                'bg-light-success text-success rounded': element.users_id?.enabled,
                'bg-light-error text-error rounded': !element.users_id?.enabled
              }" class="f-w-600">
                {{ element.users_id?.enabled }}
              </span>
            </h6>
          </td>
        </ng-container>

        <!-- Nombre Column -->
        <ng-container matColumnDef="nombre">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Nombre </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.nombre }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Apellido Column -->
        <ng-container matColumnDef="apellido">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Apellido </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.apellido }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Acciones </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Ver</button>
            <mat-menu #menu="matMenu" class="cardWithShadow">
              <button mat-menu-item (click)="edit(element)">Editar</button>
              <button mat-menu-item (click)="delete(element)">Eliminar</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <ng-template #loading>
        <ngx-skeleton-loader count="5" [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader>
      </ng-template>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
