<mat-card class="cardWithShadow">
  <mat-card-content>
    <mat-card-title>Listado de Consultas</mat-card-title>

    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="w-100" *ngIf="!isLoading; else loading">
        <!-- ID Column -->
        <ng-container matColumnDef="idConsultas">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> ID </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.idConsultas }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Username </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.username }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Correo Column -->
        <ng-container matColumnDef="correo">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Correo </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.correo }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Motivo Column -->
        <ng-container matColumnDef="motivo">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Motivo </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.motivo }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Descripción Column -->
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Descripción </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.descripcion }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Fecha Column -->
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Fecha </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span class="text-dark f-w-600">{{ element.fecha | date:'dd/MM/yyyy' }} </span>
            </h6>
          </td>
        </ng-container>

        <!-- Estado Column -->
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Estado </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <h6 class="mat-body-1 f-s-16 m-b-4">
              <span [ngClass]="{
                'bg-light-success text-success rounded': element.estado,
                'bg-light-error text-error rounded': !element.estado
              }" class="f-w-600">
                {{ element.estado ? 'Resuelta' : 'Pendiente' }}
              </span>
            </h6>
          </td>
        </ng-container>

        <!-- Acciones Column -->
        <ng-container matColumnDef="acciones">
          <th mat-header-cell *matHeaderCellDef class="f-w-600 mat-subtitle-1 f-s-14"> Acciones </th>
          <td mat-cell *matCellDef="let element" class="mat-body-1">
            <button mat-flat-button color="primary" [matMenuTriggerFor]="menu">Ver</button>
            <mat-menu #menu="matMenu" class="cardWithShadow">
              <button mat-menu-item (click)="edit(element)">Editar</button>
            </mat-menu>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
      <ng-template #loading>
        <ngx-skeleton-loader count="5" [theme]="{ 'border-radius': '0', height: '50px' }"></ngx-skeleton-loader>
      </ng-template>
    </div>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </mat-card-content>
</mat-card>
